*{

  font-family: "Inter", Times, serif;
}

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  
  display: block;
}
#sketch-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#search{
  flex: 1;
 font-size: large;
  border: none;
  outline: none;
  margin: 5px;
  margin-left: 15px;
  margin-right: 15px;
  
}
#searchList{
  
  list-style-type: none;
  font-size: 18px;
  flex-grow: 1;
  padding: 0;
  margin-top: 15px;
  
  
}

#searchDiv{
 

  width: 25%;
  height: auto;
  margin: auto;
  padding: auto;
  margin-top: 10px;
  background-color: white;
  box-shadow: 0px 2px 4px lightslategray; 
  border-radius: 15px;
  
  
  display: flex;
  flex-direction: column;
}


#searchList li {
  padding-left: 15px;
}

#searchDiv #searchList li:hover {
  background-color: #eee !important; /* Use !important to override other styles */
}